@using visualizer.Models
@rendermode InteractiveServer

<div class="toolbar">
    <div class="schema-part">
        <select class="sql-statements" @onchange="SelectChanged">
            @for (int i = 0; i < State.Queries.Count; i++)
            {
                <option value="@i">@State.Queries[i].Type</option>
            }
        </select>

        <button @onclick="RunQuery" class="text-button">
            <p class="text-button__text">Run Query</p>
            <i class="bi bi-play-fill"></i>
        </button>
    </div>
    
    <div class="editor-part">
        <div class="stepper">
            <button @onclick="StepPrevious"
                    disabled="@(State.CurrentStepIndex <= 0)">
                <i class="bi bi-chevron-left"></i>
            </button>
            
            @for (int i = 0; i < State.Steps.Count; i++)
            {
                @if (i == State.CurrentStepIndex)
                {
                    <p class="stepper__step stepper__step--selected">@State.Steps[i].Component.Keyword.ToSQLString()</p>
                }
                else
                {
                    <p class="stepper__step">@State.Steps[i].Component.Keyword.ToSQLString()</p>
                }
            }
            <button @onclick="StepNext"
                    disabled="@(State.CurrentStepIndex >= State.Steps.Count - 1)">
                <i class="bi bi-chevron-right"></i>
            </button>
        </div>
        
        <div class="stepper animation-stepper">
            <button>
                <i class="bi bi-chevron-left"></i>
            </button>
            
            <button @onclick="State.AnimatePlay" class="text-button">
                <p class="text-button__text">Animation</p> 
                <i class="bi bi-play-fill"></i>
            </button>
            
            <button>
                <i class="bi bi-chevron-right"></i>
            </button>
        </div>
        
        <div class="info-button">
            <InfoModal  />
        </div>
    </div>
</div>
