@using visualizer.Models
@rendermode InteractiveServer

<div class="toolbar">
    <div class="schema-part">
        @if (HomeState.SelectedDatabase == "Example Database")
        {
            <div class="sql-statements-box">
                <span class="sql-statements-label">Example queries</span>
                <select class="sql-statements" @onchange="SelectChanged">
                    @for (int i = 0; i < HomeState.Queries.Count; i++)
                    {
                        <option value="@i">@HomeState.Queries[i].Type</option>
                    }
                </select>
            </div>
        }
        <span title="@(HomeState is { IsShowingLatestVisualisation: true, IsViewingTable: false }
                         ? "Already showing the latest visualization. Change the query and run again."
                         : null)">
            @if (HomeState is { IsShowingLatestVisualisation: true, IsViewingTable: false })
            {
                <button @onclick="RunQuery" class="text-button grayed-out">
                    <p class="text-button__text">Run Query</p>
                    <i class="bi bi-play-fill"></i>
                </button>
            }
            else
            {
                <button @onclick="RunQuery" class="text-button">
                    <p class="text-button__text">Run Query</p>
                    <i class="bi bi-play-fill"></i>
                </button>
            }
            
        </span>
    </div>
    
    <div class="editor-part">
        <div class="stepper">
            <button @onclick="StepPrevious"
                    disabled="@(HomeState.CurrentStepIndex <= 0 || HomeState.IsViewingTable)">
                <i class="bi bi-chevron-left"></i>
            </button>
            
            @for (int i = 0; i < HomeState.Steps.Count; i++)
            {
                int index = i;
                @if (i == HomeState.CurrentStepIndex)
                {
                    <button class="stepper__step stepper__step--selected" @onclick="async () => await SelectStep(index)"
                            disabled="@HomeState.IsViewingTable">
                        @HomeState.Steps[index].Keyword().ToSQLString()
                    </button>
                }
                else
                {
                    <button class="stepper__step" @onclick="async () => await SelectStep(index)"
                            disabled="@HomeState.IsViewingTable">
                        @HomeState.Steps[index].Keyword().ToSQLString()
                    </button>
                }
            }
            <button @onclick="StepNext"
                    disabled="@(HomeState.CurrentStepIndex >= HomeState.Steps.Count - 1 || HomeState.IsViewingTable)">
                <i class="bi bi-chevron-right"></i>
            </button>
        </div>
        
        <div class="stepper animation-stepper">
            <button @onclick="StepAnimationPrevious"
                    disabled="@(HomeState.IsAnimationPlaying ||
                              HomeState.CurrentAnimationStepIndex <= 0 ||
                              HomeState.IsViewingTable)">
                <i class="bi bi-chevron-left"></i>
            </button>
            
            <button @onclick="ToggleAnimation"
                    class="text-button"
                    disabled="@(HomeState.CurrentAnimationStepCount == 0 || HomeState.IsViewingTable)">
                <p class="text-button__text">@(HomeState.IsAnimationPlaying ? "Pause" : "Play")</p>
                <i class="bi @(HomeState.IsAnimationPlaying ? "bi-pause-fill" : "bi-play-fill")"></i>
            </button>

            <button @onclick="StepAnimationNext"
                    disabled="@(HomeState.IsAnimationPlaying ||
                              HomeState.CurrentAnimationStepIndex >= HomeState.CurrentAnimationStepCount ||
                              HomeState.IsViewingTable)">
                <i class="bi bi-chevron-right"></i>
            </button>
        </div>
    </div>
</div>
